<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.welsley.volunteach">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/volunteach_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/volunteach_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Your Courses">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".LibraryList"
            android:label="Branches" />
        <activity android:name=".LoginActivity">

            <!-- android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Register" />
        <activity
            android:name=".BranchInfo"
            android:label="Branch Info" />
        <activity
            android:name=".popHours"
            android:label="Hours"
            android:theme="@style/AppTheme.PopupTheme" />
        <activity
            android:name=".CourseList"
            android:label="Available Courses" />
        <activity
            android:name=".popCourse"
            android:label="Course Info"
            android:theme="@style/AppTheme.PopupTheme" />
    </application>

</manifest>